*{
    margin: 0;
    padding: 0;
    font-family: DM Sans;
}


/* ------------ Navigation Bar ------------------- */

header{
    width: 100%;
    z-index: 10;
    height: 100vh;
    background: url("Image/HeaderBG1980.jpg") center no-repeat;
    background-size: cover;
    top: 0;
}

.navbar-brand{
    font-weight: 600;
    /* color: #2C3E50 !important; */
    font-size: 1.8rem !important;
    padding-left: 38px;
}

.navbar-brand .fas{
    font-size: 2rem;
    font-weight: 600 !important;
    /* color: #2C3E50; */
    padding: 10px;
}

.navbar-nav li{
    padding: 0px 10px;
}

.navbar ul li a{
    float: right;
    font-weight: 600 !important;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.5px;
    /* color: #2C3E50 !important; */

}

.navbar ul li a:hover{
    color: #2B8CFF !important;
    transition: .5s;
}

header .container h1{
    color: #2C3E50 !important;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 50px;
}

.container span{
    font-weight: 700;
}

header .container{
    display: table;
    padding: 220px 0 12px 0;
    /* margin-left: 120px; */
}

header .container p{
    font-size: 24px;
    padding: 28px 0 0 0;
}

header .container a{
    margin: 16px 0;
    font-size: 20px;
}

header .container a:hover{
    background: transparent;
    color: #2C3E50 !important;
    transition: .6s;
}

/* ------------ How ------------------- */
#How{
    padding: 50px 0px;
}

/* #How .container{
    height: 75vh;
} */

#How .container h1{
    font-size: 50px;
    font-weight: 600;
    padding: 0px 38px;
}

#How .container h2{
    font-size: 35px;
}

#How .container h2 a{
    margin: 0 20px 0 10px;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 20px;
}

#How .container h2 span{
    font-weight: 600;
    font-size: 34px;
}

#How .container h2 .or{
    font-size: 28px;
    padding-right: 10px;
}

.Instruction{
    padding: 0px 0;
}

.Instruction h2{
    padding: 12px 0 0;
    font-size: 28px;
}

.Instruction small{
    font-size: 18px;
    margin-left: 40px;
    text-align: left;
}

/* ------------ Our Main Features ------------------- */
#Features{
    padding: 50px 0;
    background: linear-gradient(45Deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("Image/Coffee.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#Features h1{
    text-align: center;
    font-weight: 600;
    font-size: 42px;
    color: #ECF0F1 !important;
    padding-bottom: 10px;
}

#Features h1::after{
    content: '';
    width: 240px;
    height: 3.5px;
    margin: 20px auto 5px;
    display: block;
    background: #ECF0F1;
}

#Features h3{
    color: #ECF0F1 !important;
}

#Features .icon{
    font-size: 45px;
    margin: 20px auto;
    padding: 20px;
    height: 100px;
    color: #ECF0F1 !important;
    width: 100px;
    border: 1px solid #ECF0F1;
    border-radius: 50%;
}

#Features p{
    font-size: 14px;
    margin: 20px 0;
    color: #ECF0F1;
}

.feature{
    margin-top: 40px;
}
.feature .col-md-4{
    border-radius: 2.5%;
    padding: 40px auto;
}

.feature .col-md-4:hover{
    background: #2B8CFF;
    cursor: pointer;
    transition: 0.7s;
}

/* ------------ Sign up Form ------------------- */
/* .SignUp{
    background: url("Image/SignBGFinal.jpg") center no-repeat;
    background-size: cover;
} */

/* .active h2::after{
    content: '';
    background: #2B8CFF;
    display: block;
    margin-top: 6px;
    width: 105px;
    height: 3.2px;
} */

/* .active h2{
    color: #2B8CFF !important;
    font-weight: 500 !important;
}

#Signup h2{
    color: #2C3E50;
} */

/* #Signup .text-right h2::after{
    content: '';
    background: #2B8CFF;
    display: block;
    width: 30px;
    height: 2px;
} */

/* #Signup .formclass{
    margin: 30px 250px;
    padding: 25px 0;
    border-radius: 8px 78px 8px 8px;
    background: transparent;
    /* background: linear-gradient(45Deg, #00c6ff, #0072ff); 
} */

/* #Signup, #Signin form{
    padding: 12px 65px;
} */

/* #Signup .custom-control{
    margin-bottom: 12px;
} */

/* #Signup, #Signin .form-group{
    padding: 12px 0;
    margin: 0 0px;
} */

/* ------------ Sign in Form ------------------- */
/* #Signin {
    padding: 50px;
}

#Signin .BG{
    background: linear-gradient(45Deg, #00c6ff, #0072ff);
}

#Signin h2{
    color: #2C3E50;
}

#Signin .formclass{
    padding: 25px 10px;
    background: transparent;
} */


/* ------------ Sign Up & Sign In------------------- */

#SignUp{
    height: 100vh;
    width: 100%;
    background: url("Image/SignUp1980.jpg") center no-repeat;
    background-size: cover;
}

#SignIn{
    height: 100vh;
    width: 100%;
    background: url("Image/SignIn1980.jpg") center no-repeat;
    background-size: cover;    
}

.Sign .SignUp{
    margin: 70px 0 0;
}

.Sign h1{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    letter-spacing: .8px;
    color: #2C3E50 !important;
}

.Sign form{
    margin: 34px 0;
}

.Sign .container:first-of-type{
    height: 82vh;
}

.Sign .SignUp .form-group{
    padding: 0px 0;
}

.Sign .SignUp .form-group label{
    color: #2C3E50 !important;
}

.Sign .SignUp .form-group small{
    color: #2C3E50 !important;
}

.forget a{
    color: #2C3E50 !important;
    font-size: 18px;
}

.forget a:hover{
    color: #2B8CFF !important;
    text-decoration: none;
}

/* .Sign .SignUp .form-group a small{
    float: right;
    padding: 8px 0;
} */

.Sign .SignUp p{
    color: #2C3E50 !important;
    text-align: center;
    font-size: 15px;
    padding-top: 8px;
}

.Sign .SignUp p a{
    color: #2B8CFF !important;
}

/* ------------ footer ------------------- */
#Contact{
    padding: 50px 0;
}

#Contact h1{
    font-weight: 600;
    text-align: center;
    font-size: 42px;
}

#Contact .container h1::after{
    content: '';
    width: 180px;
    height: 4px;
    margin: 10px auto;
    background: #2C3E50 !important;
    display: block;
}

#Contact .container .row{
    margin-top: 30px;
}

#Contact .follow{
    background: #ECF0F1;
    padding: 10px;
    margin: 15px ;
}

#Contact .contact-info .fas{
    margin: 10px;
    color: #2C3E50;
    font-weight: bold;
    font-size: 18px;
}

#Contact .contact-info .fab{
    margin: 8px 18px;
    color: #2C3E50;
    font-weight: bold;
    font-size: 28px;
}
/* ------------ Our Team ------------------- */
#Team{
    padding: 50px 0;
}

#Team h1{
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
}

#Team h3{
    font-size: 18px;
    color: #434343 !important;
    margin-bottom: 24px;
}

#Team h1::after{
    content: '';
    background-color: #2C3E50;
    width: 180px;
    height: 3.5px;
    display: block;
    margin: 10px auto 25px;
}

#Team .img-box img{
    border-radius: 50%;
}

#Team .profile-pic h2{
    font-weight: 600;
    padding: 10px 0 0;
    font-size: 28px;
    color: #2B8CFF;
}

/* #Team .profile-pic .img-box img{
    filter: grayscale(0);
}

#Team .profile-pic .img-box img:hover{
    filter: grayscale(1);
    cursor: pointer;
} */

/* #Team .fab{
    font-size: 100px;
    color: #2B8CFF;
    background: #ffffff;
    border-radius: 50%;
    padding: 4px;
}

#Team .img-box ul{
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 45px;
    transform: translateX(-50%);
    opacity: 0;
}

#Team .img-box ul li{
    padding: 5px;
    display: inline-block;
}

#Team .img-box:hover ul{
    opacity: 1;
}

#Team .img-box ul, .img-box ul li{
    transform: 0.5s;
} */

/* ------------ Privacy Policy ------------------- */
#privacypolicy{
    padding: 25px 0;
}
#privacypolicy h1{
    font-weight: 700;
}

#privacypolicy h2{
    font-weight: 600;
}

/* ------------ footer ------------------- */
footer{
    padding: 50px 0 14px;
    background: linear-gradient(65Deg, #000000, #434343);
}

footer h3, a{
    color: #ECF0F1 !important;
}

footer a:hover{
    text-decoration: none;
    color: #2B8CFF !important;
    transition: .5s;
}

footer h3{
    font-weight: 600;
}

footer ul li{
    list-style-type: none;
    margin: 12px 0;
}

footer a{
    font-size: 18px;
}

footer h3::after{
    content: '';
    background: #ECF0F1;
    display: block;
    margin-top: 6px;
    width: 105px;
    height: 3.2px;
}

.copyright h5{
    margin-top: 24px;
    color: #ECF0F1 !important;
    font-size: 18px;
}

.container h6{
    color: #2C3E50 !important;
    font-size: 18px;
}